:root {
    --primary-text-color: rgb(32, 33, 36);
    --section-vertical-margin: 21px;
}

html {
    background-color: rgb(248, 249, 250);
}

.layui-layout-admin .layui-header {
    color: #333;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.layui-layout-admin .layui-header .header-title {
    display: inline-block;
    line-height: 60px;
    /*color: #e2e2e2;*/
    margin-left: 24px;
    font-size: 16px;
    font-weight: 700;
}

.layui-layout-admin .layui-header .layui-nav {
    color: inherit;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-bar {
    opacity: 0!important;
}

.layui-layout-admin .layui-header .layui-nav .layui-this:after {
    opacity: 0!important;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-more {
    border-top-color: rgba(0, 0, 0, .7);
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-mored {
    border-color: transparent transparent #000;
}

.layui-layout-admin .layui-header .layui-nav-item a {
    color: inherit;
}


.layui-layout-admin .layui-side {
    padding-top: 24px;
    padding-bottom: 24px;
}

.layui-layout-admin .layui-body {
    bottom: 0;
}

/* 左侧导航菜单 */
.nav-list {
    font-size: 14px;
    list-style: none;
    height: 100%;
    box-sizing: border-box;
    border-right: #ddd 1px solid;
}

.nav-list .nav-list-item, .nav-list-group .nav-list-item {
    padding-inline-start: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.nav-list .nav-list-item .icon, .nav-list-group .nav-list-item .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.nav-list-group-wrapper {
    margin-bottom: 14px;
}

.nav-list-group-wrapper .nav-list-group-title {
    padding-inline-start: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.nav-list .nav-list-item .icon {
    font-size: 16px;
    color: #000;
}

/* 内容窗格中的卡片的标题栏样式*/
.section-title {
    margin-top: var(--section-vertical-margin);
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.layui-card {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
}

/*账号信息*/
.layui-layout-admin .layui-header .layui-nav-child.account-info {
    top: 60px;
    right: 0;
    left: auto;
    width: max-content;
    line-height: normal;
}

.account-info .basic {
    display: flex;
    align-items: center;
    border-bottom: #e9e9e9 1px solid;
    padding: 12px 12px 24px;
}

.account-info .basic .avatar {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    line-height: 48px;
    border-radius: 24px;
    background-color: mediumpurple;
    text-align: center;
}
.account-info .basic .avatar i {
    font-size: 20px;
    font-family: arial serif ;
    font-style: normal;
    color: white;
    vertical-align: middle;
}

.account-info .basic .detail {
    padding-left: 12px;
    padding-right: 36px;
}

.account-info .basic .detail .company {
    font-size: 14px;
    font-weight: 700;
}

.account-info .basic .detail .datetime {
    font-size: 12px;
    color: #969696;
    padding-top: 4px;
}

.account-info .action-group {
    font-size: 12px;
    color: #333;
    padding: 12px 0;
}

.account-info .action-group .action-item:hover {
    background-color: rgba(0, 0, 0, .1);
}

.account-info .action-group .action-item a {
    display: inline-block;
    padding-left: 12px;
}

.account-info .action-group .action-item a:hover {
    background-color: inherit;
}

.account-info .action-group .action-item .action-item-wrapper {
    padding: 8px 0 8px 12px;
}