<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Test Page</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js></script>
    <script src="/components/select.js"></script>
    <script src="/components/zh-plugins.umd.js"></script>
</head>
<body>
    <h1>Vue Test Page</h1>
    <div id="app">
        {{message}}
    </div>

    <div id="app1">
        <zh-button num1="4" num2="5" ></zh-button>

        <div>
            {{message}}
        </div>
        <ul @keydown.prevent.down="nextItem" tabindex="0" @keydown.prevent.enter="nextInput" @keydown.prevent.up="prevItem">
            <li v-for="(item,index) in books" :class="{active:index == currentIndex}">{{item.name}}</li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="book in books">
                    <td>{{book.id}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.price}}</td>
                </tr>
            </tbody>
        </table>
        <el-button>Hello</el-button>
        <el-radio v-model="radio" label="1">备选项</el-radio>
        <el-radio v-model="radio" label="2">备选项</el-radio>
        <el-input v-model="value" placeholder="new todo" @keydown.native.enter="addTodo" ></el-input>
        <input v-model="value" placeholder="new Todo" ref="input" >
        <list-view :data="items" key-attribute="key" value-attribute="value" @keyenter="onkeyenter" @selectionChange="selectChange($event)"></list-view>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            message: "Hello, world!"
        }
    })

    // let books = [
    //     {id: 10, name: 'C++ primer', price: 98.00},
    //     {id: 11, name: 'Spring boot bible', price: 120.00},
    //     {id: 12, name: 'ElasticSearch', price: 641.00}
    // ]

    let books = [];




    let app2 = new Vue({
        el: "#app1",
        data: {
            message: "Message 2",
            books: null,
            radio: '1',
            value: 'hello, world',
            options: [{
                value: '选项1',
                label: '黄金糕'
            }, {
                value: '选项2',
                label: '双皮奶'
            }, {
                value: '选项3',
                label: '蚵仔煎'
            }, {
                value: '选项4',
                label: '龙须面'
            }, {
                value: '选项5',
                label: '北京烤鸭'
            }],
            currentIndex: 0,
            items: [{key:123, value: 'abcd'}, {key: 456, value: 'befffff'}]
        },
        mounted: function() {
            $this = this;
            axios.get("/data/books.json").then((response) => {
                console.log(response)
                $this.books=response.data;
                console.log($this);
            });
        },
        methods: {
            addTodo: function() {
                console.log("input field");
                this.message = this.value;
                console.log(this)
                this.$refs.input.focus();
            },
            nextItem: function() {
                //this.$refs.input.focus();
                this.currentIndex++
                if (this.currentIndex > this.books.length)
                    this.currentIndex = 0;
            },
            nextInput: function() {
                this.$refs.input.focus();
            },
            prevItem: function() {
                this.currentIndex--
                if (this.currentIndex < 0)
                    this.currentIndex = this.books.length -1;
            },
            onkeyenter: function() {
                this.$refs.input.focus();
            },
            selectChange: function(e) {
                this.message = e.key;
            }
        }
    })
</script>
<style>
    .list-view {
        list-style: none;
    }
    .active {
        color: #0C0C0C;
        background-color: #dedede;
    }
</style>
</html>