<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <title>receipt order page</title>
        <link rel="stylesheet" href="/components/lib/zh-plugins.css">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="/components/lib/zh-plugins.umd.js"></script>
        <script src="/js/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    </head>
    <body>
        <div class="body-wrapper" id="receiptListPage">
            <div class="left-wrapper">
                <zh-nav :navList="navList" @router-change="navChange"></zh-nav>
            </div>
            <div class="right-wrapper">
                <zh-header :header-info="headerInfo"></zh-header>
                <zh-crumbs :breadcrumbs="breadcrumbs" @router-change="routerChange"></zh-crumbs>
                <div class="search-wrapper conn-ope-row ">
                    <aside class="row-left">
                        <div class="search-item">
                            <label>筛选</label>
                            <el-input v-model="searchOptions.keyword" placeholder="输入签收单名称或ID" 
                                size="small" class="search-input"></el-input>
                        </div>
                        <div class="search-item">
                            <label>配送点</label>
                            <el-select v-model="searchOptions.addressId" 
                                filterable multiple clearable placeholder="配送点选择"
                                size="small">
                                    <el-option
                                        v-for="item in addressList"
                                        :key="item.id"
                                        :label="item.address"
                                        :value="item.id"
                                        size="small">
                                        </el-option>
                                </el-select>
                        </div>
                        <div class="search-item">
                            <label>始末时间</label>
                            <el-date-picker
                                v-model="value"
                                type="daterange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                @change="selectDate"
                                size="small"
                                unlink-panels>
                            </el-date-picker>
                        </div>
                        <div class="search-item">
                            <el-button type="primary" size="small" @click="toSearch">搜索</el-button>
                        </div>
                    </aside>
                    <aside class="row-right">
                        <!-- <el-button type="primary" size="small" @click="toSearch">搜索</el-button> -->
                    </aside>
                    
                </div>
                <div>
                    <div class="ope-column conn-ope-row ">
                        <aside><span>签收单总数： {{orderList.length}}</span></aside>
                        <aside>
                            <el-button type="primary" size="small" @click="toEdit()">添加签收单</el-button>
                        </aside>
                    </div>
                    <div class="con-ul-wrapper">
                        <ul class="ul-header share-row ">
                            <li class="li-item">订单ID</li>
                            <li class="li-item date-item">订单时间</li>
                            <li class="li-item">配送点</li>
                            <li class="li-item">联系人</li>
                            <li class="li-item">联系电话</li>
                            <li class="li-item">商品条目</li>
                            <li class="li-item">数量</li>
                            <li class="li-item">总金额</li>
                            <li class="li-item">垫付款</li>
                            <li class="li-item">垫付状态</li>
                            <li class="li-item">操作</li>
                        </ul>
                       <div class="scroll-modal" v-loading="loading">
                            <ul v-for="(order, index) in orderList" class="product-row share-row ">
                                <li class="li-item">{{order.orderId}}</li>
                                <li class="li-item date-item">{{changeDate(order.tradeDate)}}</li>
                                <li class="li-item">{{order.productCode || '-'}}</li>
                                <li class="li-item">{{order.rule || '-'}}</li>
                                <li class="li-item">{{order.unit || '-'}}</li>
                                <li class="li-item">{{order.price || '-'}}</li>
                                <li class="li-item">{{order.number || '-'}} </li>
                                <li class="li-item">{{order.number || '-'}} </li>
                                <li class="li-item">{{order.number || '-'}} </li>
                                <li class="li-item">{{order.number || '-'}} </li>
                                <li class="li-item li-icon">
                                    <!-- <i class="el-icon-edit icon-margin"></i> -->
                                    <i class="el-icon-edit-outline icon-margin" @click="toEdit(order)"></i>
                                    <i class="el-icon-delete"></i>
                                </li>
                            </ul>
                       </div>
                       <div class='pagination'>
                        <el-pagination background
                            @size-change='handleSizeChange'
                            @current-change='handleIndexChange'
                            layout='sizes, prev, pager, next, jumper'
                            :total='pageInfo.total'
                            :page-size='pageInfo.size'
                            :current-page='pageInfo.page'
                            :page-sizes="[10, 20, 50, 100]"
                            >
                        </el-pagination>
                </div>
                    </div>
                </div>
            </div>
            <zh-message v-if="showMessage" :showMessage="showMessage" :message="message" @close="showMessage=false"></zh-message>

        </div>

    </body>
<script>
    let app = new Vue({
            el: "#receiptListPage",
            data() {
                return {
                    orderList: [],
                    headerInfo: {
                        title: '中禾',
                        name: '13845524@163.com'
                    },
                    breadcrumbs: [
                        {
                        name: '单据',
                        path: ''
                        },
                        {
                        name: '签收单列表',
                        path: ''
                        }
                    ],
                    addressList: [
                        {
                            id: 1,
                            address: '海航',
                            linkMan: '王辉',
                            phone: '1802873838',
                        },
                        {
                            id: 2,
                            address: '琼山监狱',
                            linkMan: '季述祥',
                            phone: '1802873838',
                        }
                    ],
                    searchOptions: {
                        keyword: '',
                        addressId: '',
                        addressItem: '',
                        startDate: '',
                        endDate: '',
                    },
                    pageInfo: {page: number, size: number, total: number} = {
                        page: 1,
                        size: 20,
                        total: 0
                    },
                    showMessage: false,
                    message: {
                        type: 'error',
                        message: ''
                    },
                    loading: false,
                    value: '',
                    navList: [
                        {
                            id: 1,
                            name: '单据',
                            icon: 'el-icon-shopping-bag-1',
                            path: '',
                            selected: true,
                            child: [
                                {
                                    id: 1,
                                    name: '单据管理',
                                    icon: '',
                                    code: '',
                                    child: [
                                        {
                                            id: 2,
                                            name: '签收单',
                                            icon: '',
                                            path: '/pages/receipt/receipt-order.html',
                                            child:[],
                                            selected: true,
                                        },
                                        {
                                            id: 3,
                                            name: '对账单',
                                            icon: '',
                                            path: '/pages/account/account-order.html',
                                            child:[],
                                            selected: false,
                                        },
                                    ]},
                            ],
                        }
                    ],
                }
            },
            created() {
                this.fetchOrderList();
            },
            methods: {
                fetchOrderList() {
                    this.loading = true;
                    axios.get(`http://192.168.2.208:9000/purchaseOrders?page=${this.pageInfo.page}&size=${this.pageInfo.size}`).then(response => {
                        if (response.status === 200) {
                            this.orderList = response.data ? response.data : [];
                        }
                        this.loading = false;
                    }, error => {
                        this.loading = false;
                        const res = error.response;
                        this.message= {
                            type: 'error',
                            message: res.data.message
                        }
                        this.showMessage = true;

                });
                },
                changeDate(date) {
                    return  moment(date).format('YYYY-MM-DD HH:mm');
                },
                navChange(nav, subNav) {
                    if (subNav.selected) {
                        return;
                    }
                    const url = 'http://' + window.location.host + subNav.path;
                    window.open(url, '_blank');
                },
                routerChange(path) {
                    const url = 'http://' + window.location.host + path.path;
                    window.open(url, '_blank');
                },
                selectDate(date) {
                    console.log(date);
                },
                toSearch() {

                },
                handleSizeChange(size) {

                },
                handleIndexChange(index) {

                },
                toEdit(order) {
                    const param = !!order ? `?orderId=${order.orderId}` : '';
                    const url = 'http://' + window.location.host + '/pages/receipt/receipt-add.html' + param;
                    window.open(url, '_blank');
                }
            }
        })
</script>
<style>
body, ul  {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ul-header {
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    background: #f5f7fa;
    
}
.body-wrapper{
    display: flex;
    width: 100%;
     height: 100vh;
 }
 .left-wrapper{
    height: 100%;
    width:65px;
    min-width: 65px;
    background: #243351;
    color: #fff;
 }
 .right-wrapper {
     flex: 1;
 }
 .con-ul-wrapper {
    margin: 5px 15px;
    border-top: 1px solid rgba(216,222,231,.5);
 }
 .top-breadcrumb {
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
}
.share-row {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    align-items: center;
    padding: 0 20px;
}
.share-row:nth-child(even) {
    background: #f5f7fa;
}
.share-row  .li-item {
    flex: 1;
}
.li-icon {
    font-size: 16px;
    cursor: pointer;
}
.icon-margin {
    margin-right: 15px;
}
.scroll-modal {
    max-height: calc(100vh - 270px);
    overflow: scroll;
}
.date-item {
    min-width: 130px;
}
.product-row {
    font-weight: 400;
    font-size: 13px;
    height: 30px;
}
.product-row:hover {
    background: rgba(130, 177, 255, 0.5);
}
.conn-ope-row {
    display: flex;
    align-items: center;
    margin: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    justify-content: space-between;
}
.ope-column {
    padding: 0 15px;
    background: #f7f8fa;
    height: 44px;
    border-top: 1px solid rgba(216,222,231,.5);
}
.search-wrapper .row-left {
    display: flex;
    align-items: center;
}
.row-left .search-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 5px 0;
}
.search-item label {
    white-space: nowrap;
    margin-right: 10px;
}
.pagination {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 </style>

</html>