<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>receipt order page</title>
    <link rel="stylesheet" href="/components/lib/zh-plugins.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/components/lib/zh-plugins.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    
</head>
<body>
    <div class="body-wrapper" id="receiptAddPage">
        <div class="left-wrapper">
            <zh-nav :navList="navList" ></zh-nav>
        </div>
        <div class="right-wrapper">
            <zh-header :header-info="headerInfo" @router-change="navChange"></zh-header>
            <div class="page-content-wrapper">
                <zh-crumbs :breadcrumbs="breadcrumbs" @router-change="routerChange"></zh-crumbs>
                <article class="bottom-content" v-loading="loading">
                    <div class="left-base-info flex-width">
                        <div class="sub-header">基本信息</div>
                        <div class="add-order-wrapper">
                            <zh-modal-header title="基本信息"></zh-modal-header>
                            <div class="info-row">
                                <span class="label-info">签收单名</span>
                                <div class="input-info">
                                    <el-input v-model="orderInfo.name" placeholder="签收单名" size="small" 
                                    ref="name" disabled
                                    @keydown.native.enter="nextFocus('date')"></el-input>
                                </div>
                            </div>
                            <div class="info-row">
                                <span class="label-info">配送时间</span>
                                <div class="input-info">
                                    <el-date-picker
                                          class="width-full"
                                          ref="date"
                                          v-model="orderInfo.tradeDate"
                                          type="datetime"
                                          format="yyyy-MM-dd HH:mm"
                                          placeholder="选择日期时间"
                                          @change="setOrderDate"
                                          @keydown.native.enter="nextFocus('address')">>
                                        </el-date-picker>
                                    <!-- <el-input v-model="order.tradeDate" size="small" ref="date"
                                    @keydown.native.enter="nextFocus('address')"></el-input> -->
                                </div>
                            </div>
                            <div class="info-row">
                                <span class="label-info">配送地址</span>
                                <div class="input-info">
                                    <el-select v-model="orderInfo.addressId" 
                                        ref="address"
                                        class="width-full" 
                                        @change="changeAddress" 
                                        placeholder="请选择" disabled>
                                        <el-option
                                          v-for="item in addressList"
                                          :key="item.id"
                                          :label="item.address"
                                          :value="item.id">
                                        </el-option>
                                      </el-select>
                                </div>
                            </div>
                            <div class="info-row">
                                <span class="label-info">联系人</span>
                                <div class="input-info">
                                    <el-input v-model="orderInfo.linkMan" size="small" disabled></el-input>
                                </div>
                            </div>
                            <div class="info-row">
                                <span class="label-info">联系电话</span>
                                <div class="input-info">
                                    <el-input v-model="orderInfo.phone" size="small" disabled></el-input>
                                </div>
                            </div>
                            <zh-modal-header title="垫付信息"></zh-modal-header>
                            <div class="info-row">
                                <span class="label-info">垫付状态</span>
                                <div class="input-info">
                                    <el-input v-model="orderInfo.prePayStatus" size="small" disabled></el-input>
                                </div>
                            </div>
                            <div class="info-row">
                                <span class="label-info">垫付金额</span>
                                <div class="input-info">
                                    <el-input v-model="orderInfo.prePay" size="small" disabled></el-input>
                                </div>
                            </div>
                        </div>
                        <div class="product-list-wrapper">
                            <zh-modal-header title="商品列表"></zh-modal-header>
                            <div class="con-ul-wrapper">
                                <ul class="ul-header share-row ">
                                    <li class="li-item">商品名</li>
                                    <li class="li-item">商品编码</li>
                                    <li class="li-item">商品货号</li>
                                    <li class="li-item">规格</li>
                                    <li class="li-item">单位</li>
                                    <li class="li-item">单价</li>
                                    <li class="li-item">数量</li>
                                    <li class="li-item">操作</li>
                                </ul>
                               <div class="scroll-modal">
                                    <div v-for="(pro, index) in orderInfo.orderLines" >
                                        <ul v-if="!pro.isDelete" class="product-row share-row ">
                                                <li class="li-item">{{pro.itemName}}</li>
                                                <li class="li-item">{{pro.baseCode || '-'}}</li>
                                                <li class="li-item">{{pro.productCode || '-'}}</li>
                                                <li class="li-item">{{pro.rule || '-'}}</li>
                                                <li class="li-item">{{pro.unit || '-'}}</li>
                                                <li class="li-item">{{pro.price || '-'}}</li>
                                                <li class="li-item">
                                                    <el-input v-model="pro.quantity" class="number-input" :ref="'number-input-' + index"
                                                        @blur="updateQuantity(pro)"
                                                        @keydown.native.enter="updateQuantity(pro)"
                                                        @keyup.native.up="nextFocus('number-input-' + (index-1))"
                                                        @keyup.native.down="nextFocus('number-input-' + (index+1))"
                                                    ></el-input>
                                                </li>
                                                <li class="li-item">
                                                    <!-- <i class="el-icon-edit icon-margin"></i> -->
                                                    <i class="el-icon-delete pointer" @click="deleteProduct(pro, index)"></i>
                                                </li>
                                        </ul>
                                    </div>
                               </div>
                            </div>
                        </div>
                       <div  class="submit-btn" v-if="showAddBut">
                            <el-button type="primary" size="small" @click="addOrder">提交</el-button>
                       </div>
                    </div>
                    <div class="right-add-product flex-width">
                        <div class="sub-header">选择商品</div>
                        <div>
                            <div class="info-row">
                                <span class="label-info">商品名称</span>
                                <div class="input-info"><el-input v-model="searchPro" size="small" 
                                    ref="selectInput"
                                    @keydown.native.enter="searchProduct"
                                    @keyup.native.down="startSelect"></el-input> 
                                    </div>
                            </div>
                            <div  ref="searchResultList" v-show="!!searchProducts.length" 
                            tabindex="0"
                            class="select-wrapper"
                                     @keydown.prevent.down="onkeydown" 
                                    @keydown.prevent.enter="enterSelectProduct" 
                                    @keydown.prevent.up="onkeyup">
                                <ul class="ul-header share-row ">
                                    <li class="icon-item"></li>
                                    <li class="icon-item">序号</li>
                                    <li class="li-item">商品名</li>
                                    <li class="li-item">规格</li>
                                    <li class="li-item">单位</li>
                                    <li class="li-item">单价</li>
                                </ul>
                                <div>
                                    <ul class="product-row share-row "
                                    v-for="(pro, index) in searchProducts"  
                                    :class="[index === curIndex ? 'pro-focus' : '', index === selectIndex ? 'pro-select' : '']"
                                    :ref="'li' + index"  
                                    @click="manualSelectProduct(pro, index)">
                                    <li class="icon-item text-center"><i class="el-icon-success icon-color" v-show="selectIndex === index"></i></li>
                                    <li class="icon-item">{{index}}</li>
                                    <li class="li-item">{{pro.itemName}}</li>
                                    <li class="li-item">{{pro.rule || '-'}}</li>
                                    <li class="li-item">{{pro.unit || '-'}}</li>
                                    <li class="li-item">{{pro.price || '-'}}</li>
                                </ul>
                                </div>
                            </div>
                            <div class="info-row">
                                <span class="label-info">数量</span>
                                <div class="input-info">
                                    <el-input v-model="number" ref="numberInput" size="small"
                                     @keyup.native.up="focusLastProduct"
                                     @keydown.native.enter="confirmSelectProduct"></el-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <zh-message v-if="showMessage" :showMessage="showMessage" :message="message" @close="showMessage=false"></zh-message>
            </div>
        </div>
    </div>
    
</body>
<script>
  let app = new Vue({
        el: "#receiptAddPage",
        data: {
            order: {
                name: '',
                date: new Date(2020, 10, 10, 10, 10),
                mode: 'add',
                addressId: '',
                address: '',
                linkMan: '',
                phone: '',
            },
            navList: [],
            addressList: [
                {
                    id: 1,
                    address: '海航',
                    linkMan: '王辉',
                    phone: '1802873838',
                },
                {
                    id: 2,
                    address: '琼山监狱',
                    linkMan: '季述祥',
                    phone: '1802873838',
                }
            ],
            headerInfo: {
                title: '中禾',
                name: '13845524@163.com'
            },
            breadcrumbs: [
                {
                name: '单据',
                path: '/pages/receipt/receipt-order.html'
                },
                {
                name: '签收单列表',
                path: '/pages/receipt/receipt-order.html'
                },
                {
                name: '添加签收单',
                path: ''
                }
            ],
            showMessage: false,
            message: {
                type: 'error',
                message: ''
            },
            navList: [
                {
                    id: 1,
                    name: '单据',
                    icon: 'el-icon-shopping-bag-1',
                    path: '',
                    selected: true,
                    child: [
                        {
                            id: 1,
                            name: '单据管理',
                            icon: '',
                            code: '',
                            child: [
                                {
                                    id: 2,
                                    name: '签收单',
                                    icon: '',
                                    path: '/pages/receipt/receipt-order.html',
                                    child:[],
                                    selected: true,
                                },
                                {
                                    id: 3,
                                    name: '对账单',
                                    icon: '',
                                    path: '/pages/account/account-order.html',
                                    child:[],
                                    selected: false,
                                },
                            ]},
                    ],
                }
            ],
            productList: [],
            searchProducts: [],
            searchPro: '',
            curIndex: null,
            selectIndex: null,
            number: '',
            loading: false,
            orderInfo: {
                orderId: 0,
                tradeDate: 0,
                orderLines: []
            }
        },
        created() {
            const param = this.matchRouterParam();
            if(param && !!param.orderId) {
                const orderId = Number(param.orderId);
                this.orderInfo.mode = 'edit';
                this.fetchOrderDetail(orderId)
            } else {
                this.setDefaultTime();
            }
        },
        computed: {
            showAddBut() {
                return (this.orderInfo.orderLines || []).some(item => item.isAdd);
            }
        },
        methods: {
            setDefaultTime() {
                const date = new Date();
                const day = date.getDate();
                date.setDate(day + 1);
                date.setHours(7);
                date.setMinutes(0);
                date.setSeconds(0);
                this.orderInfo.tradeDate = date;
            },
            fetchOrderDetail(id) {
                this.loading = true;
                axios.get(`http://192.168.2.208:9000/purchaseOrders/${id}`).then(response => {
                    this.loading = false;
                    if (response.status === 200) {
                        Object.assign(this.orderInfo, response.data);
                        this.orderInfo.tradeDate =  new Date(this.orderInfo.tradeDate);
                    }    
                }, error => {
                    this.loading = false;
                        const res = error.response;
                        this.message= {
                            type: 'error',
                            message: res.data.message
                        }
                })
            },
            setOrderDate(date) {
                
            },
            matchRouterParam() {
                const search = window.location.search;
                let param = {};
                if(!!search) {
                    const validPart = search.split('?');
                    const paramArr = (validPart[1] || '').split('&');
                    (paramArr || []).map(item => {
                        const itemSplit = (item || '').split('=');
                        param[`${itemSplit[0]}`] = itemSplit[1];
                    })
                }
                return param;
            },
            changeAddress(addressId) {
                const match = this.addressList.find(item => item.id === addressId);
                if(!!match) {
                    this.orderInfo.address = match.address;
                    this.orderInfo.linkMan = match.linkMan;
                    this.orderInfo.phone = match.phone;
                }
            },
            searchProduct() {
                axios.get(`http://192.168.2.208:9000/items?keyword=${this.searchPro}`).then(response => {
                    console.log(response)
                    if (response.status === 200) {
                        this.searchProducts = [];
                        (response.data || []).map(item => {
                            const matchItem = {
                                itemName: item.name,
                                itemId: item.id,
                                price: item.price,
                            };
                            this.searchProducts.push(matchItem);
                        })
                        setTimeout(() => {
                            this.startSelect();
                            this.bindKeyFun();
                        })
                    }
                }, error => {
                    const res = error.response;
                    this.message= {
                        type: 'error',
                        message: res.data.message
                    }
                    this.showMessage = true;

                });
                this.$refs.selectInput.focus();
               
            },
            bindKeyFun() {
                const element = this.$refs && this.$refs.searchResultList;
                if (element) {
                    this.$refs.searchResultList.focus();
                    this.$refs.searchResultList.onkeydown = (e) => {
                            const keyCode = e.keyCode || e.which || e.charCode ;
                            const number = Number(e.key);
                            if (number !== NaN && !!this.searchProducts[number]) {
                                this.curIndex = null;
                                this.selectIndex = number;
                                this.$refs.searchResultList.blur();
                                setTimeout(() => {
                                    this.$refs.numberInput.focus();
                                    this.$refs.numberInput.select();
                                })
                            }
                        }
                }
            },
            nextFocus(name) {
                if (this.$refs[name] instanceof Array) {
                    this.$refs[name][0].focus();
                    setTimeout(() => {
                        this.$refs[name][0].select();
                    })
                } else {
                    this.$refs[name].focus();
                    setTimeout(() => {
                        this.$refs[name].select();
                    })
                }
                
            },
            startSelect() {
                this.curIndex = 0;
                this.selectIndex = 0;
                this.$refs.selectInput.blur();
                this.$refs.searchResultList.focus();
            },
            enterSelectProduct() {
                //this.curIndex = null;
                this.selectIndex = this.curIndex;
                this.curIndex = null;
                this.$refs.numberInput.focus();
                this.$refs.numberInput.select();
            },
            manualSelectProduct(product, index) {
                this.selectIndex = index;
                this.curIndex = index;
                this.$refs.searchResultList.focus();
            },
            onkeydown() {
                const nextIndex = this.curIndex + 1;
                if (nextIndex < this.searchProducts.length) {
                    this.curIndex += 1;
                    this.$refs.searchResultList.focus();
                } else {
                    this.curIndex = null;
                    this.$refs.numberInput.focus();
                    this.$refs.numberInput.select();
                }
            },
            onkeyup() {
                const nextIndex = this.curIndex - 1;
                if (nextIndex > -1) {
                    this.curIndex -= 1;
                    this.$refs.searchResultList.focus();
                } else  {
                    this.curIndex = null;
                    this.$refs.selectInput.focus();
                    this.$refs.selectInput.select();
                }
            },
            confirmSelectProduct() {
                const regex = /^[0-9]*$/; 
                if (!this.number || !regex.test(this.number)) {
                    return;
                }
                const match = this.searchProducts[this.selectIndex];
                const hasItem = (this.orderInfo.orderLines || []).find(item => item.itemId== match.itemId)
                if (!!hasItem) {
                    return;
                }
                match.quantity = this.number;
                match.isAdd = true;
                match.isDelete = false;
                this.$refs.numberInput.blur();
                (this.orderInfo.orderLines || []).push(JSON.parse(JSON.stringify(match)));
                this.$refs.selectInput.focus();
                this.$refs.selectInput.select();
            },
            focusLastProduct() {
                this.$refs.searchResultList.focus();
                this.curIndex = this.searchProducts.length - 1;
            },
            updateQuantity(item) {
                if(item.isAdd || !item.quantity) {
                    return;
                }
                item.quantity = parseInt(item.quantity);
                const param = {
                    orderId: this.orderInfo.orderId,
                    orderLineId: item.lineId,
                    quantity: item.quantity
                }
                this.submitQuantity(param);
            },
            deleteProduct(pro, index) {
                if (pro.isAdd) {
                    (this.orderInfo.orderLines || []).splice(index, 1);
                } else {
                    const param = {
                        orderLineId: pro.itemId,
                        orderId: this.orderInfo.orderId
                    }
                    this.submitDeleteProduct(param, pro, index);
                }
            },
            addOrder() {
                if (!this.orderInfo.tradeDate || !this.orderInfo.orderLines.length) {
                    return;
                }
                const newDate = new Date(this.orderInfo.tradeDate).getTime();
                const addList = (this.orderInfo.orderLines || []).filter(item => item.isAdd);
                const selectItems = (addList || []).map(item => {
                    return {
                        itemId: item.itemId,
                        quantity: item.quantity

                    }
                })
                const param = {
                    orderId: this.orderInfo.orderId,
                    tradeDate: newDate,
                    orderLines: selectItems,
                }
                this.submitAddOrder(param);
            },
            submitAddOrder(param) {
                axios.post("http://192.168.2.208:9000/purchaseOrders", param).then(response => {
                    if (response.status === 200) {
                        const id = response.data;
                        this.fetchOrderDetail(id);
                        this.message= {
                            type: 'success',
                            message: '成功提交'
                        }
                        this.showMessage = true;
                    }
                }, error => {
                    const res = error.response;
                    this.message= {
                        type: 'error',
                        message: res.data.message
                    }
                    this.showMessage = true;

                });
            },
            submitQuantity(param) {
                const lineParam = {
                    orderId: param.orderId,
                    orderLineId: param.orderLineId,
                    quantity: Number(param.quantity)
                }
                var s = new URLSearchParams({quantity: lineParam.quantity});
                const url = `/purchaseOrders/${param.orderId}/lines/${param.orderLineId}`;
                axios.put("http://192.168.2.208:9000" + url, s.toString(), {headers: {
                    'Content-Type':'application/x-www-form-urlencoded'
                }}).then(response => {
                    if (response.status === 200) {
                        const id = response.data;
                    }
                }, error => {
                    const res = error.response;
                    this.message= {
                        type: 'error',
                        message: res.data.message
                    }
                    this.showMessage = true;

                })
            },
            submitDeleteProduct(param, pro, index) {
                const url = `/purchaseOrders/${param.orderId}/lines/${param.orderLineId}`;
                axios.delete("http://192.168.2.208:9000" + url).then(response => {
                    if (response.status === 200) {
                        const id = response.data;
                        (this.orderInfo.orderLines || []).splice(index, 1);
                    }
                }, error => {
                    const res = error.response;
                    this.message= {
                        type: 'error',
                        message: res.data.message
                    }
                    this.showMessage = true;

                });
            },
            routerChange(path) {
                const url = 'http://' + window.location.host + path.path;
                window.open(url, '_blank');
            },
            navChange(nav, subNav) {
                    if (subNav.selected) {
                        return;
                    }
                    const url = 'http://' + window.location.host + subNav.path;
                    window.open(url, '_blank');
                },
        }
    })
</script>
<style>
.select-wrapper:focus {
        outline: none;
 }
body, ul  {
        margin: 0;
        padding: 0;
        list-style: none;
}
.top-breadcrumb {
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
}
 .body-wrapper{
    display: flex;
    width: 100%;
     height: 100vh;
 }
 .left-wrapper{
    height: 100%;
   width:65px;
    min-width: 65px;
    background: #243351;
    color: #fff;
 }
 .right-wrapper {
     flex: 1;
 }
 .width-full {
     width: 100% !important;
 }
 .header-wrapper {
     width: 100%;
     height: 50px;
     background: #fff;
     border-bottom: none;
     box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
     color: #0C0C0C;
     font-size: 16px;
 }
 .page-content-wrapper {
     display: column;
     width: 100%;
     align-items: flex-start;
     font-size: 14px;
 }
 article.bottom-content {
     width: 100%;
     display: flex;
 }
 .flex-width {
    flex: 1;
 }
 .left-base-info, .right-add-product {
    padding: 0 15px;
 }
 .right-add-product {
    padding-left: 0;
 }
 .sub-header {
    background: #f5f5f5;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 15px;
 }
 .add-order-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
 }
 .product-list-wrapper {
    padding-left: 15px;
 }
 .con-ul-wrapper {
     padding: 10px;
 }
 .scroll-modal {
    max-height: calc(100vh - 500px);
    overflow: scroll;
 }
 .info-row {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 10px;
    }
.label-info {
        display: inline-block;
        width: 100px;
}
.input-info {
        width: 40%;
        min-width: 300px;
        text-align: left;
        display: flex;
        align-items: center;
    }
.input-width {
        width: 200px;
    }
    .unit {
        color: #000923;
        text-align: center;
        background-color: #eeeeee;
        border: 1px solid #d4d8d8;
        height: 32px;
        line-height: 32px;
        padding: 0 7px;
        display: inline-block;
        box-sizing: border-box;
    }
.ul-header {
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    background: #f5f7fa;
    
}
.share-row {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    align-items: center;
}
.share-row:nth-child(even) {
    background: #f5f7fa;
}
.submit-btn {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}
.product-row {
    font-weight: 400;
    font-size: 13px;
    height: 30px;
}
.product-row:hover {
    background: rgba(130, 177, 255, 0.5);
}
.share-row  .li-item {
    flex: 1;
}
.icon-item {
    width: 100px;
}
.text-center {
    text-align: center;
}
.icon-color {
    color: #82B1FF;
    font-size: 18px;
}
.number-input input {
    border: none;
    border: 1px solid #f5f7fa;
    height: 28px;
    line-height: 28px;
    width: 70%;
}
.pro-focus {
    border: 1px solid #82B1FF;
}
.pro-select {
    background: #ecf5ff !important;
}
.icon-margin {
    margin: 0 10px;
}
.pointer {
    cursor: pointer;
}
</style>
</html>